body {
background-color: plum
}
.gif {
  background-image: url("https://media.giphy.com/media/12aW3WO37L1tw4/giphy.gif");
  height: 400px;
  width: 280px;
  margin-left: 550px;
  margin-top: 70px
}
h1 {
  font-family: 'Leckerli One', cursive;
  margin-left: 510px
}